body {
  background-color: #f2f2f2;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #E8B154;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

#projectBody {
    background-image: url("/img/treeboth.jpg");
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #CBFFCC;
}
h2 {
    margin-top: 55px;
}


/* Paragraph & Typographic */
p {
    color: #CBFFCC;
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #FFFA61;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



h1 {
	font-size: 100px;
}

.w {
	margin-top: 60px;
}
.w i {
	font-size: 40px;
	padding: 12px;
}

.pagination>li>a {
    color: #00F;
}

/*Resume CSS---------------*/



.row .col-md-6 {
    padding: 0;
    
}

.box-item {
    background-color: rgba(255,255,255,.10);
}



.resume-header
{
    font-size: 30px;
}

